.button {
	font-size: 1.5em;
}

.container {
	width: 90%;
}

.header-title, .header-subtitle {
	text-align: center;
}

.header-subtitle {
	margin-top: -15px; 
}
.input {
	height: 2.5em;
	margin: 0 auto 2.5%;	
	width: 100%;
}

.itens-group--navbar {
	display: block;
	margin: 3% auto;
	padding: 2%;
	text-align: center;
	width: 100%;		
}
