.button {
	font-size: 1.5em;
}

.button-primary {
	width: 100%;	
	border: none;
}

.container {
	width: 90%;
}

.fieldset {
	width: 100%;
	padding: 1%;
	border: none;
}

.header {
	padding: 0% 2% 0%;	
}	

.header-title, .header-subtitle {
	text-align: center;
}

.header-subtitle {
	margin-top: -15px; 	
}

.input {
	height: 2.5em;
	margin: 0 auto 2.5%;	
	width: 100%;
	border: 1px solid #333;
}

.input-textarea-active {
	height: 15%;	
}

.input-submit--active {
	text-align: center;
}

.itens-group--navbar {
	display: block;
	margin: 3% auto;
	padding: 2%;
	text-align: center;
	width: 100%;		
}

#btnCancelar {
	display: none;
}