* {
	box-sizing: border-box; 
}

body {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  font-size: 16px;
}

a:link, a:visited, a:hover, a:active {
	text-decoration: none;
	color: #000;
}

.action-group {
	width: 15%;
	text-align: right;
	vertical-align: top;
}

.button {
	padding: 10px;
}

.button-primary {
	color: #FFF;
}

.container {
	width: 80%;
	margin: 0 auto;
}

.event-description {
	width: 80%;
	text-align: left;
}

.header {
	font-size: 1em;
	padding: 0% 0% 1%;	
}

.icon {
	margin-right: 0px;	
}

.input {
	width: 30%;
	margin: 0 auto 1%;
}

.icon-delete--active::after {
	content: '\2716';
	color: #FF0000;
	font-size: 1.10em;
}

.icon-update--active::after {
	content: '\270E';
	color: #0076FC;
	font-size: 1.10em;
}

.itens-group {
	padding: 0;
}

.itens-group--navbar, .input-submit--active {
	background-color: #444;
}

.itens-group--navbar {
	display: inline-block;
}

.label {
	display: block;
}

.link  {
	text-decoration: none;
}

.list{
	padding: 0;
	text-align: left;
}

.list-item {
	display: block;
	border-bottom: 1px solid #C2C2C2;
	padding-bottom: 2%;
}

.sublist {
	padding: 0;
}

.sublist-element--active{
	display: inline-block;
}

.list-item-description {
	width: 90%;
	font-size: 1em;

}